.playground {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.items {
  display: flex;
  gap: 1rem;

  img {
    width: 2rem;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1rem;
    border-radius: 0.2rem;
  }
}

.active {
  background-color: #afafaf;
}

.animating-image {
  position: absolute;
  height: 5rem;
  display: none;
}

.span-all {
  grid-column: 1 / -1;
}
