.items {
  display: flex;
  gap: 1rem;
  grid-column: 1 / -1;
  justify-self: center;
  img {
    width: 2rem;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1rem;
    border-radius: 0.2rem;
  }
}

.active {
  background-color: #afafaf;
}
